name: ShiftLeft Scan

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Scan-Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Perform Scan
      uses: ShiftLeftSecurity/scan-action@master
      env:
        WORKSPACE: ""
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SCAN_AUTO_BUILD: true
      with:
        output: reports

    - name: Upload Report
      uses: github/codeql-action/upload-sarif@v3
      with:
        sarif_file: reports
